/*-------------------TEXT STYLING---------------------*/

body { font-family: 'Raleway', sans-serif;
       font-family: 'Open Sans', sans-serif;	   
}

header { text-align: center;
}

h1 { font-family: 'Raleway', sans-serif;
     font-family: 'Open Sans', sans-serif;
	 font-size: 70 px;
	 font-weight: Bold;
	 
}

/*-------------------NAV STYLING---------------------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
	
	
	
	
	
	
/*-----------------------------------------------------end of chapter 1----------------------------------------------------*/	
	
}
/*------------------------------------------------------chapter 2 page 1---------------------------------------------------*/

.franklyn{ font-family: 'Raleway', sans-serif;
       font-family: 'Open Sans', sans-serif;	   
background-color: }

/*---------------------------------Div----------------------------------------*/
#page1{ text-align: center; ;
 text-decoration: underline;font-size: xx-large;color: whitesmoke;font-family: "arial" 
}
#chaptercontent{box-shadow: 0px 0px 10px 2px grey;border: 10px solid black;width: 40% ;position: relative;top: 30px; left: 450px; color: aliceblue}

#firstpart{background-color: black;}

.franklyn{background-color: black;}

#backgroundstart{position: relative;top: 460px;height: 1200px;background-image: url(sky-earth-galaxy-universe-2422.jpg);}

/*----------------------------------ID-----------------------------*/
#para1{text-align: center;font-style: italic; font-size: large;color: white}

#para2{position: relative;top: 100px;color: white;text-align: center}

#para3{position: relative;top: 160px;color: white;}

#para4{position: relative;top: 220px;color:white;}

#para5{position: relative;top: 280px;color:white;}

#para6{position:relative;top: 340px;color:white;}

#para7{position: relative;top: 400px;color:white;}

#para8{position: relative;top: 470px;color: white;box-shadow: 0px 0px 10px 2px grey;border: 10px solid black;letter-spacing:}

#para9{position: relative;top: 470px;color: white; text-align: center;font-weight: 200;}

#para10{position: relative;width: 40%;top: 190px;left: 800px;color: white;font-weight: 200}

#para11{position: relative;width: 40%;top: 340px;left: 800px;color: white;font-weight: 200;}

#para12{position: relative;width: 40%;top: 470px;left: 800px;color: white;font-weight: 200}

#para13{position: relative;width: 40%;top: 790px;left: 800px;color: white;font-weight: 200;}

#para14{position: relative;width: 40%;top: 1070px;left: 800px;color: white; font-weight:200}

#para15{position: relative;width: 40%;left: 800px;top: 1320px;color: white;font-weight: 200;}

#conclusion2{position: relative;top: 1630px;color: white;width: 40%;text-align: center;left: 450px;box-shadow: 0px 0px 10px 2px grey;border: 10px solid black}

/*----------------------------------Class------------------------------*/
#header1{position: relative;top: 90px;color: white;text-align: center;margin: 0px;padding: 50px;overflow: hidden;background-color:#333;font-family: "arial"; font-size:large; }

.header2{position: relative;top: 150px;text-align: center;color: white;width:60%;margin: 0px;padding: 10px;left: 250px;font-family: "arial";text-decoration: underline; font-size:xx-large; }

.header3{position: relative;top: 200px;text-align: center;color: white;width: 60%;margin: 0px;padding: 10px;left: 250px;font-family:"arial";text-decoration: underline;font-size: xx-large}

.header4{position: relative; top:250px; text-align: center;color: white;width: 60%;margin: 0px;padding: 10px;left: 250px;font-family:"arial";text-decoration: underline;font-size: xx-large}

.header5{position: relative; top:300px; text-align: center;color: white;width: 60%;margin: 0px;padding: 10px;left: 250px;font-family:"arial";text-decoration: underline;font-size: xx-large}

.header6{position: relative;top: 350px;color: white;text-align: center;margin: 0px;padding: 20px;overflow: hidden;background-color:#dddd;font-family: "arial"}

.header7{position: relative;top: 450px;color: white;text-align: center;margin: 0px;padding: 20px;overflow: hidden;background-color:#dddd;font-family: "arial"}


.header8{color: brown; text-align: center; font-size:xx-large;position: relative;top: 560px; font-weight: 300;font-style: italic;}

.header9{color: white;width: 10%;position: relative;left: 1050px;top: 180px;text-decoration: underline; font-weight: 700}

.header10{color: white;width: 10%;position: relative;left: 1050px;top: 290px;text-decoration: underline;font-weight: 700;}

.header11{color: white;width: 10%;position: relative;left: 1050px;top: 800px;text-decoration: underline;font-weight: 700;}

.header12{color: white;width: 10%;position: relative;left: 1050px;top: 1120px;text-decoration: underline;font-weight: 700;}

.header13{color: white;width: 10%;position: relative;left: 1050px;top: 1380px; text-decoration: underline;font-weight: 700;}

.header14{color: white;width: 10%;position: relative;left: 1050px;top: 1640px;text-decoration: underline;font-weight: 700;}


/*---------------------------------videos and images------------------------*/
.vid1{height: 400px;position: relative;top: 600px}
.vid2{height: 400px;position: relative;top: 700px;}
.vid3{height: 400px;position: relative;top: 800px}
.vid4{height: 400px;position: relative;top: 1100px}
.vid5{height: 400px;position: relative;top: 1350px}
.vid6{height: 400px;position: relative;top: 1600px}

/*-------------------------  --End of chapter 2 page 1---------------------------------------------------------------*/
